<section class="flex flex-col gap-2 border-1 border-(--app-border-clr) 
    rounded-md overflow-hidden bg-(--app-light-grey-bg) p-2 w-full md:max-w-2/5">
    
    <header>
        <h3 class="text-xl text-(--app-title-text-clr) font-extrabold">
            {{card.position}}
        </h3>
        <h4 class="flex gap-2 text-xl text-(--app-sub-title-text-clr) font-bold">
            <img 
                class="h-5" 
                src="https://flagcdn.com/24x18/{{card.companyCountry}}.png" 
                alt="{{card.companyCountry}}"
            >
            {{card.company}}  
        </h4>
        <h4 class="text-(--app-sub-title-text-clr)">
            {{card.dateBegin}} - {{card.dateEnd}}
        </h4>
    </header>

    <ul>
        @for(activity of card.activities; track $index){
            <li>
                ✓ {{activity}}
            </li>
        }
    </ul>

    <footer class="flex justify-normal flex-wrap gap-0.5">
        @for(stack of card.stacks; track $index){
            <div class="bg-(--app-border-clr) rounded-xl px-1">{{stack}}</div>
        }
    </footer>  

</section>

