<section class="relative mx-auto pl-2 bg-(--app-dark-grey-bg) h-[calc(100vh-160px)] overflow-x-hidden">
    <section class="relative flex flex-col space-y-4 inset-0 pt-4">
        <div class="absolute w-1 top-4 h-full inset-0 bg-(--app-border-clr) left-[2px] rounded-md 
            md:mx-auto md:right-0 md:left-0 md:w-1.5 animate-stretch-timeline"
        ></div>
        @for(card of cards; track $index){
            <div class="relative opacity-0 animate-move-card"
                [ngStyle]="{'animation-delay': $index+0.5 + 's'}"
                >
                <div
                    aria-hidden="true"
                    class="absolute top-4 inset-0 h-4 w-4 bg-(--app-border-clr) transform rotate-45
                        md:h-20 md:w-20 md:top-8 left-4
                        {{ $index % 2 === 0 ? 
                            'md:left-[55%]' 
                                : 'md:left-auto md:right-[56%]'}}"
                ></div>
                <div
                    aria-hidden="true"
                    class="absolute top-4 -left-1 inset-0 h-4 w-4 bg-(--app-border-clr) rounded-full
                        md:mx-auto md:right-0 md:left-0 md:h-8 md:w-8 md:top-14"
                ></div>
                <app-card
                    class="relative pt-2 inset-0 left-6 z-10 
                        {{ $index % 2 === 0 ? 
                            'md:left-[55%]'
                                : 'md:left-[4%]'}}"
                    [card]="card" 
                ></app-card>
            </div>
        }
    </section>
</section>