<div class=" w-full text-wrap rounded-lg overflow-hidden border-1 border-(--app-border-clr) md:max-w-[750px]">
    <header class="header flex p-2 justify-between items-center bg-(--app-light-grey-bg) cursor-pointer" 
        (click)="toggleVisibility(card.id)">
        <span class="text-xl text-(--app-title-text-clr) font-semibold">
           {{card.type}}
        </span>
        <span>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                    *ngIf="showContent"
                    class="h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                </svg>                  
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" 
                    *ngIf="!showContent"
                    class="h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
            </div>
        </span>  
    </header>
    <main  
        class="content flex flex-col px-4 py-3 animate-fade
            {{!showContent  ? 'hidden' : ''}}">
        <p> 
            <span class="font-bold text-(--app-sub-title-text-clr)">{{ 'education.title' | translate}}: </span>
            {{card.title}}
        </p>
        <p>
            <span class="font-bold text-(--app-sub-title-text-clr)">{{ 'education.institution' | translate}}: </span>
            {{card.institution}}
        </p>
        <p>
            <span class="font-bold text-(--app-sub-title-text-clr)">{{ 'education.location' | translate}}: </span>
            {{card.location}}
        </p>
        <p>
            <span class="font-bold text-(--app-sub-title-text-clr)">{{ 'education.date' | translate}}: </span>
            {{card.startDate}} - {{card.endDate}}
        </p>
        <hr class="my-1 border-0.5 border-(--app-border-clr)" />
        <p class="px-2">{{card.description}}</p>
        <p *ngIf="card.certificationLink">
            <span>
                <hr class="my-1 border-0.5 border-(--app-border-clr)" />
            </span>
            <a href="{{card.certificationLink}}" target="_blank" class="hover:underline flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13" />
                </svg>
                certification
            </a>
        </p>
    </main>
</div>
