<div class="space-y-2 w-full text-wrap text-justify rounded-lg overflow-hidden border-1 border-(--app-border-clr)">
    <header class="header flex p-2 justify-between items-center bg-(--app-light-grey-bg)">
        <span class="font-bold text-gray-800 dark:text-white"
            (click)="toggleVisibility(card.id)"
            class="cursor-pointer">
                {{card.type}}
        </span>
        <span 
            (click)="toggleVisibility(card.id)"
            class="cursor-pointer"
        >
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" 
                    *ngIf="showContent"
                    class="h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                </svg>                  
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" 
                    *ngIf="!showContent"
                    class="h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
            </div>
        </span>  
        <span 
            (click)="toggleVisibility(card.id)"
            class="cursor-pointer"
        >
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" 
                    *ngIf="showContent"
                    class="h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m4.5 15.75 7.5-7.5 7.5 7.5" />
                </svg>                  
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6" 
                    *ngIf="!showContent"
                    class="h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                </svg>
            </div>
        </span>  
    </header>
    
    <main *ngIf="showContent" class="content flex flex-col px-4">
        <span>{{card.title}}</span>
    
    <main *ngIf="showContent" class="content flex flex-col px-4">
        <span>{{card.title}}</span>
        <span>{{card.institution}}</span>
        <span>{{card.location}}</span>
        <span>{{card.startDate}} - {{card.endDate}}</span>
        <span>{{card.description}}</span>
        <span *ngIf="card.certificationLink">certification link</span>
        <span *ngIf="card.certificationLink">certification link</span>
    </main>
</div>
