<section class="bg-(--app-dark-grey-bg) text-(--app-text-clr) p-4 animate-fade h-[calc(100vh-180px)] overflow-auto">
    <div class=" max-w-7xl mx-auto px-3 lg:px-8 flex flex-col lg:flex-row gap-8">
      <!-- Left Side: Description -->
      <div class="flex-1">
        <h2 class="text-3xl font-bold mb-4">{{ 'contact.title' | translate}}</h2>
        <p>{{ 'contact.description' | translate}}</p>
        <p class="text-sm mt-8">{{ 'contact.find-me-on' | translate}}</p>
        <div class="flex space-x-4 flex-wrap">
          @for(link of contactMeLinks; track $index) {
          <div class="flex items-center gap-2">
              <img src="{{link.icon}}" class="h-5" />
              <a href="{{link.url}}" target="_blank" class=" text-gray-500 hover:underline">{{link.name}}</a>
            </div>
          }
        </div>
        <button class="bg-gray-700 hover:bg-gray-400 text-gray-400 hover:text-gray-800 font-bold mt-8 py-2 px-4 rounded inline-flex items-center">
          <a download="LeandroReis_CV" target="_blank" href="../../../../assets/pdf/LeandroReis_CV.pdf" class="flex gap-2">
            <svg class="fill-current h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z"/></svg>
            <span >Download CV</span> <img src="{{pdfLink}}" class="h-5"/>
          </a>
        </button>
      </div> 
  
      <!-- Right Side: Form -->
      <div class="flex-1 bg-(--app-light-grey-bg) p-6 rounded-lg shadow-lg">
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="space-y-6">
          <div>
            <label for="name" class="block text-sm font-medium">{{'contact.form.name' | translate}}</label>
            <input
              type="text"
              id="name"
              formControlName="name"
              placeholder="{{'contact.form.namePlaceHolder' | translate}}"
              required
              class="mt-1 block w-full px-4 py-2 border border-gray-600 rounded-md "
            />
          </div>
          @if(contactForm.get('name')?.touched 
            && contactForm.get('name')?.invalid) {
            <div class="text-red-500 text-sm">
              <span>
                {{'contact.form.error.name' | translate}}
              </span>
            </div>
          }
          <div>
            <label for="email" class="block text-sm font-medium ">{{'contact.form.email' | translate}}</label>
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="{{'contact.form.emailPlaceHolder' | translate}}"
              required
              class="mt-1 block w-full px-4 py-2 border border-gray-600 rounded-md"
            />
          </div>
          @if(contactForm.get('email')?.touched 
            && contactForm.get('email')?.invalid) {
            <div class="text-red-500 text-sm">
              <span>
                {{'contact.form.error.email' | translate}}
              </span>
            </div>
          }
          <div>
            <label for="message" class="block text-sm font-medium">{{'contact.form.message' | translate}}</label>
            <textarea
              id="message"
              formControlName="message"
              rows="5"
              placeholder="{{'contact.form.messagePlaceHolder' | translate}}"
              required
              class="mt-1 block w-full px-4 py-2 border border-gray-600 rounded-md"
            ></textarea>
          </div>
          @if(contactForm.get('message')?.touched 
            && contactForm.get('message')?.invalid) {
            <div class="text-red-500 text-sm">
              <span>
                {{'contact.form.error.message' | translate}}
              </span>
            </div>
          }

          <span *ngIf="formMessage" class="text-red-500 text-sm"> {{formMessage}} </span>

          <button
            type="submit"
            class="w-full bg-gray-700 hover:font-bold  font-medium py-2 px-4 rounded-md transition duration-300'
            {{contactForm.invalid ? 'opacity-50 cursor-not-allowed' : 'opacity-100 hover:bg-gray-600'}}"
            [disabled]="contactForm.invalid"
          >
          {{'contact.form.submit' | translate}}
          </button>
        </form>
        
      </div>
    </div>
  </section>