@import "tailwindcss";

@theme {
  --app-dark-grey-bg: #1e1e1e;
  --app-light-grey-bg: #2b2b2b;
  --app-title-text-clr: #66d9ef;
  --app-sub-title-text-clr: #f1fa8c;
  --app-text-clr: #f8f8f2;
  --app-border-clr: #444;
  --app-hover-clr: #3b3b3b;

  --animate-fade: fade 1s ease 0s 1 normal forwards;
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  --animate-blink-cursor: blink-cursor 1s step-start 0s infinite;
  @keyframes blink-cursor {
    50% {
      opacity: 0.0;
    }
  }
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--app-light-grey-bg);
    color: var(--app-text-clr);
}